doctype html
html
  head
    meta(charset='utf-8')
    title Address Book
    link(rel="stylesheet" href="/style/style.css")
  body
    h1 This is home
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') faq
        li: a(href='/contact') contact
